html,
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
}

.flex-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  width: 100%;
  max-width: 320px;
  padding: 10px;
}

.header {
  color: #222222;
}

.text-item {
  color: #333333;
}

.link {
  color: #008ae6;
  text-decoration: none;
}
